
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* color palete */

  --color-primary-green: #495E57;
  --color-primary-yellow: #F4CE14;
  --color-secondary-orange: #EE9972;
  --color-secondary-rose: #FBDABB;
  --color-highlight-white: #EDEFEE;
  --color-highlight-black: #333333;
}

a {
  text-decoration: none;
}

/* Type system */

.title {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 48px;
}

.sub-title {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.lead-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.card-title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.paragraph {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.highlight-text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
